@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
html,
body {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

code,
kbd,
samp {
  font-family: monospace;
}
